{% extends "booking/base.html" %}
{% block content %}
    <div class="hero">
        <div class="container">
            <h1>Barbershop Online Booking System</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, id.</p>
        </div>
    </div>

    <section class="container content">
        <h2>Description One</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eaque magnam officia quam recusandae sed suscipit? Aspernatur at aut, dicta ea et, fugit ipsa iusto quam quasi quidem quis quisquam ratione soluta vel veritatis? Architecto, atque cumque deleniti eaque et exercitationem expedita illum laborum nisi odio omnis optio, qui quis quod sed soluta, veritatis voluptate voluptatum. Dolorem doloribus pariatur quidem. Dolor dolore eum nihil officia possimus repellat, similique voluptas! A accusantium, aut beatae commodi dolorem enim, eos eum id ipsa, iusto quae quaerat tenetur! Distinctio expedita id incidunt laboriosam minima omnis quis saepe suscipit, tempore tenetur! Est nam quia sunt!</p>
    </section>

    <section class="container content">
        <h2>Description Two</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi aperiam cupiditate eos error est libero maxime neque quibusdam similique. Aut, exercitationem, tempore? Ad consectetur dolore eaque enim fugiat maiores nobis quam qui, similique soluta? Accusamus adipisci alias animi, architecto corporis dignissimos eligendi eum labore molestias numquam obcaecati pariatur possimus praesentium qui sed tempora ullam! Consequatur culpa dolore doloribus eius exercitationem illo, minima molestiae officia omnis quos sunt voluptas voluptate.</p>
    </section>

    <footer class="footer">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequuntur cumque deleniti doloremque error maiores possimus ut vero voluptatem, voluptatibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, quibusdam?</p>
    </footer>
{% endblock %}
