{% extends "booking/base.html" %}
{% block content %}
<!--    <div>-->
<!--        <a href="{% url 'my_bookings' user.pk %}"><button class="btn btn-primary">All</button></a>-->
<!--        <a href="?status=pending"><button class="btn btn-primary">Pending</button></a>-->
<!--        <a href="?status=confirmed"><button class="btn btn-primary">Confirmed</button></a>-->
<!--        <a href="?status=completed"><button class="btn btn-primary">Completed</button></a>-->
<!--        <a href="?status=cancelled"><button class="btn btn-primary">Cancelled</button></a>-->
<!--    </div>-->
<!--    <h2 id="queryStatus"></h2>-->
<!--    {% if not bookings  %}-->
<!--        <h1>No booking</h1>-->
<!--    {% else %}-->
<!--        <div>-->
<!--            {% for booking in bookings %}-->
<!--                    <p>Date: {{ booking.booking_date }}</p>-->
<!--                    <p>Time: {{ booking.booking_time }}</p>-->
<!--                    <p>Type: {{ booking.type }}</p>-->
<!--                    <p>Additional Messages: {{ booking.additional_messages }}</p>-->
<!--                    <a href="{% url 'booking_detail' booking.pk %}">Detail</a>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--    {% endif %}-->





<div class="listview">


    <div class="list-group booking-list">
        <h1>Booking History</h1>

        <div class="booking-filter">
            <a href="{% url 'my_bookings' user.pk %}"><button class="query-btn" id="all">All</button></a>
            <a href="?status=pending"><button class="query-btn" id="pending">Pending</button></a>
            <a href="?status=confirmed"><button class="query-btn" id="confirmed">Confirmed</button></a>
            <a href="?status=completed"><button class="query-btn" id="completed">Completed</button></a>
            <a href="?status=cancelled"><button class="query-btn" id="cancelled">Cancelled</button></a>
        </div>
        {% if not bookings %}
            <p>No booking</p>
        {% endif %}
        {% for booking in bookings %}
            <a href="{% url 'booking_detail' booking.pk %}" class="list-group-item list-group-item-action flex-column align-items-start booking-list-item">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Booking for {{ booking.booking_date }}</h5>
                    <small>Status: {{ booking.status }}</small>
                </div>
                <p class="mb-1">Type: {{ booking.type }}</p>
                <small>Donec id elit non mi porta.</small>
            </a>
        {% endfor %}

        <div class="pagination-section">
            {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a href="?page=1"><button class="page-btn">First</button></a>
                <a href="?page={{ page_obj.previous_page_number }}"><button class="page-btn">Previous</button></a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a href="?page={{ num }}"><button class="page-btn active">{{ num }}</button></a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}"><button class="page-btn">{{ num }}</button></a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"><button class="page-btn">Next</button></a>
                <a href="?page={{ page_obj.paginator.num_pages }}"><button class="page-btn">Last</button></a>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>

<script>
    let params = new URLSearchParams(document.location.search)
    let status = params.get('status')
    let queryBtns = document.querySelectorAll('.query-btn')

    if (status === null) {
        status = 'all'
    }

    queryBtns.forEach((btn) => {
        if (btn.id === status) {
            btn.classList.add('active')
        }
    })

    if (status !== 'all') {
        pagination_btns = document.querySelectorAll('.page');
        pagination_btns.forEach((btn) => {
            btn.href += `&status=${status}`
        })
    }

</script>
{% endblock %}
