{% extends "booking/base.html" %}
{% block content %}

    {% if not bookings  %}
        <h1>No booking</h1>
    {% else %}
        <div>
            <div>
                <h2>Pending</h2>
                {% for booking in bookings %}
                    {% if not booking.is_confirmed %}
                        <p>{{ booking.booking_dt }}</p>
                        <p>{{ booking.type }}</p>
                        <p>{{ booking.additional_massages }}</p>
                        <a href="{% url 'booking_detail' booking.pk %}">Detail</a>
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <h2>Confirmed</h2>
                {% for booking in bookings %}
                    {% if booking.is_confirmed %}
                        <p>{{ booking.booking_dt }}</p>
                        <p>{{ booking.type }}</p>
                        <p>{{ booking.additional_massages }}</p>
                        <a href="{% url 'booking_detail' booking.pk %}">Detail</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
