{% extends "booking/base.html" %}
{% block content %}
<div class="crud-content profile">
    <div class="profile-content">
        <h2>Update Profile</h2>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
            {{ user_form }}
            {{ customer_form }}
            </fieldset>
        <div class="form-group">
            <button class="login-btn" type="submit">Update</button>
        </div>
        </form>
        {% if messages %}
            {% for message in messages %}
                 <div class="alert
                     {% if message.tags == 'error' %}
                        alert-danger
                     {% else %}
                        alert-{{ message.tags }}
                     {% endif %}">
                         {{ message|safe }}
                 </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
