{% extends "booking/base.html" %}
{% block content %}
<div class="crud-content profile">
    <ul class="profile-content">
        <h2>My Profile</h2>
        <li class="field">
            <p class="label_p">Username:</p>
            <p class="info_p">{{ username }}</p>
        </li>
        <li class="field">
            <p class="label_p">Email:</p>
            <p class="info_p">{{ email }}</p>
        </li>
        <li class="field">
            <p class="label_p">Phone:</p>
            <p class="info_p">{{ phone }}</p>
        </li>

        <li class="field">
            {% if user == profile_user %}
                <a href="{% url 'profile_update' user.customer_id.pk %}"><button class="login-btn">Edit Profile</button></a>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock %}
