{% extends "booking/base.html" %}
{% block content %}
    <div class="login-background">
        <div class="register-form">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ customer_form }}
                    {{ user_form }}
                </fieldset>
                <div class="form-group">
                <button class="register-btn" type="submit">Sign Up</button>
            </div>
            </form>
            {% if messages %}
                {% for message in messages %}
                     <div class="alert
                         {% if message.tags == 'error' %}
                            alert-danger
                         {% else %}
                            alert-{{ message.tags }}
                         {% endif %}">
                             {{ message|safe }}
                     </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
