
/* login page */

.login-background {
  background-image: url('/static/users/images/login_background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.login-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.login-background div {
  z-index:3;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:
}

input.login-input {
  margin: 7px;
  width: 260px;
  height: 35px;
  max-width: 200x;
  min-width: 50px;
  border: none;
  border-radius: 2px;
  padding: 10px;
  border: 1px solid #ccc;
}

input.login-input:focus {
  outline: none;
  box-shadow: 0 0 0 2pt #D2691E;
}

.login-btn,
.register-btn {
  background-color: #FF7F50;
  padding: 10px 25px;
  margin: 22px 10px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.login-btn:hover,
.register-btn:hover {
  background-color: #e96745;
  border-radius: 10px;
}

.errorlist li{
  list-style-type: none;
}
/* register page */
.alert-error {
  background-color: pink;
}
