@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.navbar-brand {
  font-family: 'Hammersmith One', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin: 0px 40px;
}

.nav-link {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 1.2rem;
}

.navbar-right {
  position: absolute;
  right: 5%;
}
